<footer class="get-your-package__footer">
	<strong> GetYourPackage </strong> was made with ❤ and react and redux and webpack + <i>bla bla bla</i> <strong>by <a target="_blank" title="My GitHub ❤️" href="https://github.com/guicheffer">@guicheffer</a></strong>
</footer>
