/*- 🎨 Base Style
 *
 * Responsible for all typography,
 * variables, spacing, and everything
 * ~only-view-way~ pages of SPA get-your-package
 *
 * _ps_. Inspired on "cheffplate" settings
 *
 * cheffplate! by @guicheffer
 * https://github.com/guicheffer/cheffplate
 *
 *
 *
-*/

@import 'reset';

@import 'palette';
@import 'typography';
@import 'utils';

@import 'layout';

@import '../main/panel';
@import '../footer/footer';

font-face-normal()
font-face-bold()

::selection {
  background: $color-primary;
  color: $white-base;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: $blue-heaven;
  background-position: 50% 50%;
  background-size: 100%;
  color: $white-base;
  line-height: $font-size-base + $spacing-xsmall;
}

body, input, a {
  font-family: 'Mukta', Helvetica, sans-serif;
  font-size: $font-size-base;
  font-style: normal;
  font-weight: $font-weight-normal;
  text-decoration: none;
}

.get-your-package {
  get-your-package-layout();
  get-your-package-layout-responsive();

  &__wrapper {
    $page-height = 93vh;
    please-align-it-center()

    flex-direction: column;
    height: $page-height;
    width: 100%;
  }

  &__panel {
    panel();
    panel-responsive();
  }

  &__footer {
    footer();
    footer-responsive();
  }
}
