/*- 🎨 Base layout
 *
 * Responsible for all commons layout
 *
-*/

@import 'container';
@import 'spacing';

$color-primary = $gray-abbey;

.particles-js-canvas-el {
  bottom: 0;
  height: 130vh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: -10;
}

get-your-package-layout() {
  &__container {
    container();
    container-responsive();

    margin-top: $spacing-large;
  }
}

get-your-package-layout-responsive() {
  +mq-large-up() {
    &__container {
      margin-top: 0;
    }
  }
}
