/*- ⭐️ Panel style
 *
 * Responsible for all panel views
 *
-*/

@import 'container';
@import 'spacing';

@import './error'
@import './search'

panel() {
  background: transparentify($white-base, 0.8);
  border-radius: $spacing-xsmall;
  border: 1px solid $white-base;
  box-sizing: border-box;
  color: $black-base;
  flex: 1;
  margin: $spacing-large 0 $spacing-xxxlarge;
  padding: $spacing-large;
  position: relative;
  width: 100%;

  .panel {
    &__welcome {
      text-align: center;

      .welcome {
        &__button { margin: $spacing-large 0; }
      }
    }

    &__error {
      error();
      error-responsive();
    }

    &__search {
      search();
      search-responsive();
    }
  }
}

panel-responsive() {
  +mq-large-up() {
    $width = 800px;

    border-radius: $spacing-small;
    flex: initial;
    margin: auto;
    position: relative;
    width: $width;
  }
}
