/*- ⭐️ Search page
 *
-*/

@import 'container';
@import 'spacing';

search-fields() {
  .fields {
    $flex-width = 50px;

    &__group {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
    }

    &__title,
    &__action { flex: 1; }

    &__price-from,
    &__price-to { flex: $flex-width; }

    &__action { min-width: ($flex-width * (3 + 1)); }
  }
}

search-results() {
  border-radius: $spacing-xxsmall;
  border: 1px dashed $black-base;
  margin: $spacing-large 0;
  text-align: center;

  svg {
    max-height: $spacing-xxxlarge;
    max-width: $spacing-xxxlarge;
  }

  .results {
    &__list {
      $max-height = 40vh;

      max-height: $max-height;
      overflow-x: hidden;
      overflow-y: scroll;
      text-overflow: ellipsis;

      [data-react-toolbox=list-item-text] { font-size: $font-size-small; }
    }

    &__empty {
      font-size: $font-size-base;
      font-weight: $font-weight-bold;
      margin: $spacing-large 0;
    }
  }
}

search() {
  .search {
    &__fields {
      search-fields();
    }

    &__results {
      search-results();
    }

    &__warning {
      float: right;
      font-size: $font-size-small;
      text-align: right;
    }

    &__special-offer--toggle {
      margin: $spacing-base 0 0;
      text-align: right;

      & > span { font-size: $font-size-small; }
    }
  }
}

search-responsive() {
  +mq-medium-up() {
    .search {
      &__fields {
        .fields {
          &__group { flex-wrap: nowrap; }

          &__price-from,
          &__price-to,
          &__action { flex: 33.3%; }

          &__action { margin-left: $spacing-large; }
        }
      }

      &__results {
        .results {
          &__list {
            [data-react-toolbox=list-item-text] { font-size: $font-size-base; }
          }
        }
      }
    }
  }
}
