<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="mobile-web-app-capable" content="yes">

	<meta name="author" content="@guicheffer">
	<meta name="description" content="<%= htmlWebpackPlugin.options.description %>">

	<title><%= htmlWebpackPlugin.options.title %></title>

	<link rel="stylesheet" href="/css/setup.css">
	<link rel="shortcut icon" type="image/ico" href="<%= htmlWebpackPlugin.options.shortcut32x32 %>" sizes="32x32">

	<script>
    function getInitializationData () {
      return {
				endpoint: '/tours',
        metaTitle: '<%= htmlWebpackPlugin.options.title %>',
        welcomeMessage: {
          hi: '%c@guicheffer%c says: %c"I hope you enjoy!"',
          link: '👉🏼 Please check my %cGitHub %cprofile: https://github.com/guicheffer 👀'
        }
      }
    }

	  function setupApp (options) {
			options.before()

			var app = new window.App.MainEntry({ initilizationData: getInitializationData() })
	  }
	</script>
</head>
<body>
  <div class="get-your-package__container">
		<div id="app-get-your-package" class="get-your-package__wrapper"> Loading... </div>
	</div>

  <%= require('html-loader!./footer/footer.html') %>

	<script async src="/js/setup.js"></script>
</body>
</html>
